{{ define "main" }}
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format "_2/01/2006" }}

<div class="article_page_header">
  <div>
    <a href="{{ .Site.BaseURL }}">
      <img class="article_page_shit_beer_logo" src="/img/shit_beer_logo.svg" alt="Shit Beer logo">
    </a>
  </div>
  <div class="article_page_title article_title">
    {{ .Title }}
  </div>
</div>

<div class="article_page_content">
  {{ .Content }}

  <div class="article_page_beer_grade_container">
    {{ .Params.beer_grade }}
    <img src="/img/slash.svg" height="50px" alt="">
    {{ with .Resources.Get .Params.beer }}
    <img src="{{ .RelPermalink }}" height="50px" alt="">
    {{ end }}
  </div>
</div>

{{ end }}