body {  
    background-color: rgb(29 32 33);  
    color: #333;  
    font-size: 125%;  
    line-height: 1.5;  
    margin: 0 auto;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  }  
  .content {  
    margin-bottom: 2rem;  
  }  