body {  
    background-color: #EBE8E1;
    color: #0E131F;
    font-size: 125%;  
    line-height: 1.5;  
    margin: 0 auto;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 960px;
}
  
main {
    margin-bottom: 2rem;
    max-width: 1000px;
    text-align: left;
    margin-right: 7px;
    margin-left: 7px;
}

main a {
    color: rgb(255 168 206 );
}

main a:visited {
    color: rgb(193 183 169 );
}

.front-page-shit-beer {
  text-align: center;
  margin-top: 15px;
}

.article-block {
  text-align:center;
}

.article-link {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.article-beer-picture {
  margin-left: 10px;
  vertical-align: middle;
}

figure {
    margin-left: 0px;
}

 footer {
    margin-right: 7px;
    margin-left: 7px;
 }