body {  
  background-color: #EBE8E1;
  color: #0E131F;
  font-size: 125%;
  line-height: 1.5;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* Pas de scrollbar pour IE, Edge et Firefox */
  -ms-overflow-style: none;  /* IE et Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Pas de scrollbar sur Chrome, Safari et Opera */
body::-webkit-scrollbar {
  display: none;
}

main {
  margin-bottom: 2rem;
  text-align: left;
  margin-right: 7px;
  margin-left: 7px;
  font-family: "Inconsolata";
}

/* Removes underline on links */
main a {
    text-decoration: unset;
}

/*
  Front Page CSS
*/

.front_page_shit_beer_logo {
  height: 70vh;
  margin-top: 10vh;
}

.front_page_shit_beer {
  text-align: center;
}

.front_page_article_block {
  text-align:center;
  margin-bottom: 5vh;
}

.front_page_article_beer_picture {
  margin-left: 10px;
  vertical-align: middle;
}

/*
  Article Page CSS
*/

.article_page_title {
  width: 60%;
}

.article_page_content {
  margin-top: 5vh;
  margin-left: 5vh;
  width: 60%;
  margin: auto;
}

.article_page_beer_grade_container {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.article_page_shit_beer_logo_container {
  width: 20%;
}

.article_page_shit_beer_logo {
  height: 20vh;
  vertical-align: middle;
}

.article_page_header {
  margin-top: 3vh;
  display: flex;
  align-items: center;
}

/*
  Shared CSS
*/

.article_title {
  text-align: center;
  vertical-align: middle;
  font-family: "EnglishTowne";
  color: #dd5555;
  font-size: 3em;
}

@font-face {
  font-family: "Inconsolata";
  src:
    url("/font/Inconsolata.ttf")
}

@font-face {
  font-family: "EnglishTowne";
  src:
    url("/font/EnglishTowne.ttf")
}