body {  
    background-color: #EBE8E1;
    color: #0E131F;
    font-size: 125%;  
    line-height: 1.5;  
    margin: 0 auto;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 960px;
}
  
main {
    margin-bottom: 2rem;
    max-width: 1000px;
    text-align: left;
    margin-right: 7px;
    margin-left: 7px;
    font-family: "Inconsolata";
}

main a {
  text-decoration: unset;
}

.shit_beer_logo {
    height: 70vh;
    margin-top: 10vh;
}

.front-page-shit-beer {
  text-align: center;
}

.article-block {
  text-align:center;
  margin-bottom: 5vh;
}

.article-title {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-family: "EnglishTowne";
  color: #dd5555;
  font-size: 3em;
}

.article-beer-picture {
  margin-left: 10px;
  vertical-align: middle;
}

figure {
    margin-left: 0px;
}

footer {
  margin-right: 7px;
  margin-left: 7px;
}

@font-face {
    font-family: "Inconsolata";
    src:
      url("/font/Inconsolata.ttf")
}

@font-face {
    font-family: "EnglishTowne";
    src:
      url("/font/EnglishTowne.ttf")
}