{{ define "main" }}

<div class="front_page">
    <div class="front_page_shit_beer">
        <img class="front_page_shit_beer_logo" src="/img/shit_beer_logo.svg" alt="Shit Beer logo">
    </div>

    <div>
        {{ range (site.GetPage "aventures").Pages }}
        <div class="front_page_article_block">
            {{ with .Resources.Get .Params.beer }}
                <img class="front_page_article_beer_picture" src="{{ .RelPermalink }}" height="50px" alt="">
            {{ end }}
            <a class="article_title" href="{{ .RelPermalink }}">{{ .Title | safeHTML }}</a>
            <div class="front_page_article_summary">
              {{ .Params.summary }}
            </div>
        </div>

        {{ end }}
    </div>
</div>
{{ end }}