{{ define "main" }}

<div>
    <div class="front-page-shit-beer">
        <img class="shit_beer_logo" src="/img/shit_beer_logo.svg" alt="Shit Beer logo">
    </div>

    <div class="aventures-list">
        {{ range (site.GetPage "aventures").Pages }}
        <div class="article-block">
            <a class="article-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ with .Resources.Get .Params.beer }}
                <img class="article-beer-picture" src="{{ .RelPermalink }}" height="50px" alt="">
            {{ end }}
            <div class="article-summary">
            {{ .Params.summary }}
            </div>
        </div>

        {{ end }}
    </div>
</div>
{{ end }}