<figure class="article_page_image">

{{- $u := urls.Parse (.Get "src") -}}
{{- $src := $u.String -}}
{{- if not $u.IsAbs -}}
{{- with or (.Page.Resources.Get $u.Path) (resources.Get $u.Path) -}}
{{- $src = .RelPermalink -}}
{{- end -}}
{{- end -}}

<img
  src="{{ $src }}"
  width="100%"
  {{ with (.Get "title") -}} alt="{{ . }}" {{- end -}}
  {{- with .Get "height" }} height="{{ . }}"{{ end -}}
  {{- with .Get "loading" }} loading="{{ . }}"{{ end -}}
>

<figcaption class="article_page_image_legend">
    {{ with (.Get "title") -}} {{ . }} {{- end -}}
</figcaption>

</figure>